@font-face {
    font-family: 'market_decoregular';
    src: url('market_deco-webfont.woff2') format('woff2'),
         url('market_deco-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: 'Razed';
	src: url('HBMRazedBoldpersonaluseonly.woff2') format('woff2'),
		 url('HBMRazedBoldpersonaluseonly.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}


body{
	background-color: lightblue;
	align-content: center;
	position: relative;
}

h1{
	color: white;
	margin-left: 20px;
	position: relative;
	text-align: center;
	top: 575px;
	font-family: 'Razed';
}

p{
	position: relative;
	text-align: center;
	top: 575px;
	color: white;
	font-family: 'market_decoregular';
}

img{
	height: 100px;
	width: 100px;
	position: absolute;
	top: -28px;
	left: 0px;
	margin: auto;
	object-fit: cover;
}

ul {
	list-style-type: none;
	margin: -10px;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	position: absolute;
	top: -11px;
}

li {
	float: left;
}

li a {
	display: block;
	color: white;
	padding: 14px 452.5px;
	text-decoration: none;
	text-shadow: 1px 1px lightblue;
	font-family: market_decoregular;
	left: 1000px;

}
li a:hover {
	background-color: #111;
	color: white;